.blog-page {
    .entry-content {
        position: relative;

        .img-blog-page {
            width: 250px;
            height: 240px;
            background: url("img/mix.png");
            position: absolute;
            left: 750px;
            top: 70px;


        }

        .blog-content {
            .blog-author {
                font-family: 'Montserrat', sans-serif;
            }

            .post-content-text {
                text-align: left;

                .blog-title {
                    font-family: 'Amatic SC', cursive;

                    a {
                        color: $main-color !important;
                        font-size: 25px;
                    }
                }

                .blog-short-content {
                    font-family: 'Montserrat', sans-serif;
                }

                .blog-more-link {
                    background-color: $green;
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }
    }
}


.hentry {
    margin: 50px 0 15px;

    .post-thumbnail {
        display: none;
    }

    .entry-header {
        display: none;
    }

    .entry-meta {
        display: none;
    }

    .mt-author-box {
        display: none;
    }

    .entry-content {
        .blog-thumb {
            display: none;
        }

        .blog-author {
            display: none;
        }

        .wp-block-group {
            &__inner-container {
                p {
                    text-align: left;
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }

        // .navigation .nav-links a {
        //     font-family: 'Amatic SC', cursive;
        // }
    }

    .navigation {
        .nav-links {
            background: $dusty-green !important;
            font-family: 'Amatic SC', cursive !important;
            font-size: 33px;
        }
    }
}