.contacts-page {
    .entry-content {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column-reverse;
        

        .wpforms-container-full {
            text-align: left;
            margin: 0;

            .wpforms-field-label {
                font-family: 'Amatic SC', cursive;
                color: $green;
                font-size: 24px;
            }

            .wpforms-submit {
                font-family: 'Amatic SC', cursive;
                font-size: 20px;
                color: $dark-grey;
                background-color: white;
                border: 1px solid $green;
                width: 150px;
                &:hover {
                    background-color:$green;
                }
            }
        }

        p {
            font-size: 16px;
            span{
                font-weight: 400;
                color:$grey-color;
            }
        }
        .wpforms-confirmation-container-full {
            background:$green;
            border: none;

            p {
                font-family: 'Amatic SC', cursive;
                font-size: 20px;
                color: $dark-grey;
            }
        }
    }
    .social-icons a{
        font-size: 30px;
        padding: 4px 6px;
        border-radius: 100%;
     
        &:nth-child(1) {
            color:white;
            background-color:$green;
        }
        &:nth-child(2) {
            color:white;
            background-color: $purple;
            
        }
    }
}