#wpsm_accordion_100 {
    text-align-last: left;

    .wpsm_panel-default {
        .wpsm_panel-title a {
            font-family: 'Montserrat', sans-serif;
            


            .ac_title_class {
                font-size: 16px;
                font-weight: 500;
            }

            .ac_open_cl_icon {
                color: $dusty-green!important;
            }
        }

        .wpsm_panel-body {
            font-family: 'Montserrat', sans-serif;
        }
    }
}