$main-color:#EE9E95;
$grey-color:#838383;




///HEADER
.mt-social-icon-wrap {
    display: flex;
    li a {
        color: $dusty-green;
    }
}

.site-branding {
    a img {
        width: 200px;
        border-radius: 100%;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        // font-family: 'Amatic SC', cursive;
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
    }

}

#site-navigation ul li a {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    color: $grey-color;
    text-transform: capitalize;
    margin-right: 30px;

    &:hover {
        color: $main-color;
    }

}

#sticky-wrapper {
    height: 0;
}

#site-navigation ul li.current-menu-item a {
    color: $main-color;
}

#site-navigation ul li a:active, 
#site-navigation ul li a:focus {
    outline: none;
}


.custom-header.no-bg-img {
    display: none;
}

/// ASSORTMENT

.woocommerce-js #main {
    .woocommerce-breadcrumb {
        display: none;
    }

    .woocommerce-result-count {
        display: none;
    }

    .woocommerce-products-header {
        h1 {

            display: none;
        }

        .term-description {
            font-family: 'Montserrat', sans-serif;
            margin-top: 50px;
            font-size: 17px;
        }
    }

    .woocommerce-loop-product__title {
        font-family: 'Amatic SC', cursive;
        font-size: 20px;
        color: $grey-color;

    }

    .woo-variation-gallery-product {
        margin-top: 50px;

        .product_title {
            font-family: 'Amatic SC', cursive;
            color: $main-color;
        }

        .woocommerce-product-details__short-description {
            font-family: 'Montserrat', sans-serif;
        }

        .posted_in {
            display: none;
        }

        .woocommerce-Tabs-panel--description {
            h2 {
                display: none;
            }
        }

        .woocommerce-tabs {
            .tabs {
                font-family: 'Amatic SC', cursive;
                font-size: 20px;
                color: $main-color;
            }
        }
    }

    .related>h2 {
        font-family: 'Amatic SC', cursive;
        font-size: 20px;
        color: $main-color;
    }

    .woocommerce-loop-category__title {
        font-family: 'Amatic SC', cursive;
        font-size: 20px;
        font-weight: 100;
        color: $grey-color;


        mark {
            display: none;
        }
    }
}


///MODULA GALLERY

#jtg-119 {
    .modula-items {
        .figc {
            .jtg-title {
                display: none;

                &:hover {
                    display: none;
                }
            }
        }
    }
}



///FOOTER 

#top-footer {
    .inst-link {
        text-align: center;

        a {
            font-family: 'Amatic SC', cursive;
            font-size: 22px;
            font-weight: 100;
            color: $green;
        }
    }
}

#bottom-footer {
    // display: none;
    padding: 0;

    .site-info {
        float: none;
        text-align: center;
        display: none;
    }
}