$main-color:#EE9E95;
$grey-color:#838383;




///HEADER

.mt-social-icon-wrap li a {
    color: $grey-color;
}

.site-branding {
    a img {
        width: 150px;
        border-radius: 100%;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }

}

#site-navigation ul li a {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    color: $grey-color;
    text-transform: capitalize;

    &:hover {
        color: $main-color;
    }
}

.custom-header.no-bg-img {
    display: none;
}

///MAIN 

.addtoany_content {
    display: none;
    .addtoany_share {
        display: none;
    }
}

///FOOTER 
